@font-face{
    font-family: "Alice";
    src: url("fonts/Alice-Regular.ttf");
}
.logo1 {
 display: block;
 margin: auto;
 margin-top: 15px;
 text-align: center;
 height: 114px;
 width: 292px;
}

body{
    font-family: "Alice", "Arial", sans-serif;
    background: #C6C6C6;
}

header{
    display: block;
    align-items: center;
    margin: auto;
}


.divv {
    margin: auto;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 7px; 
    background: #D6D6D6;
}
.menu{
    margin-top: 22px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 289px;
    height: 31px;
    background: #D6D6D6;
}

.block{
    margin-top: 0px;
    box-sizing: border-box;
    width: 289px;
    height: 484px;
    background: #D6D6D6;
}
.icona{
       border: 1px solid black;
       border-radius: 10px; 
       padding-left: 20px;
       padding-right: 20px;
       padding-top: 3px;
       padding-bottom: 3px;
       background: #E6E6E6;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

  h1 {
    margin-top: 0px;
   text-align: center;
    font-family: Alice; 
    font-style: normal;
    font-weight: 400px;
    font-size: 46px;
}

    h2 {
    margin-top: 28px;
    margin-bottom: 19px;
    font-family: Alice;
   text-align: center;
    font-size: 20px;
  }
    h3 {
    padding: 0px 50px;    
    font-family: Alice;
    font-size: 30px;
}
    h4 {
    padding: 0px 85px;    
    font-family: Alice;
    font-size: 30px;
  }

.player1{
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    box-sizing: border-box;
    width: 265px;
    height: 54px;
    background: #E6E6E6;
    }

.person{
   display: inline-block;
   margin: 8px 8px 8px 8px;
   background-color: #D9D9D9;
   color: #E6E6E6;
   border: 1px solid black;
   border-radius: 7px;
   width: 30px;
   height: 37px;
   flex-shrink: 0; 
}


.left {
    display: flex;
}

.right {
    display: flex;
}

.name1 {
    display: flex;
    align-items: center;
    font-family: Alice;
    font-size: 15px;
}

.button1 {
   padding-top: 1px;
   width: 46px;
height: 24px;
flex-shrink: 0; 
   margin-right: 10px; 
   background-color: #D1D1D1;
   color: #E6E6E6;
   border: 1px solid black;
   border-radius: 7px;
   cursor: pointer;
   box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
}  

.Add{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Alice;
  font-size: 20px;
  width: 136px;
  height: 32px;
  flex-shrink: 0; 
  background-color: #D1D1D1;
  border: 1px solid black;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
  margin: auto;
  margin-top: 30px;
}

.Field{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Alice;
  font-size: 20px;
  width: 149px;
  height: 32px;
  flex-shrink: 0; 
  background-color: #D1D1D1;
  border: 1px solid black;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
  margin: auto;
  margin-top: 14px;
}